.env
.env.*
!.env.example

__pycahe__/
*.py[cod]
*$py.class

venv/
.venv/
env/
ENV/

.chroma/
chroma_db/
vectorstore/

.pytest_cache/
.coverage
coverage.xml
htmlcov/

*.tar
docker-compose.override.yml